side-effects-cache = false

registry=https://registry.npmmirror.com
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 最重要的一步：告诉 Electron 将二进制包缓存到项目目录下的 .cache 文件夹
electron_config_cache="~/.npm/_cacache/"